<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <div class="row justify-content-md-center">
			<div class="row">
                <div class = "col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="justify-content-md-start">
                                <div class="text">
                                    <h3>Valores iniciais</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 250px;">
                            <div class="row justify-content-md-center">
                                <div class="col"><p>nome = <%= nome %></p></div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col"><p> sobrenome = <%= sobrenome %></p></div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col"><p>e-mail = <%= email %></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="justify-content-md-start">
                                <div class="text">
                                    <h3>Calculo do Total</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 305px;">
                           
                            <div class="row justify-content-md-center">
                                <div class="col"><p>Resposta api =<%= APIresp %></p></div>
                            </div>  
                            <div class="row justify-content-md-center">
                                <div class="col"><p>soma do nome =<%= nsoma %></p></div>
                            </div> 
                            <div class="row justify-content-md-center">
                                <div class="col"><p>soma do sobrenome =<%= sobresoma %></p></div>
                            </div> 
                            <div class="row justify-content-md-center">
                                <div class="col"><p>soma do e-mail =<%= emasoma %></p></div>
                            </div> 
                            <div class="row justify-content-md-center">
                                <div class="col"><p>total =<%= total %></p></div>
                            </div> 
                            
                        </div>
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="justify-content-md-start">
                                <div class="text">
                                    <h3>Busca pelo total</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 400px;">
                            <div class="row justify-content-md">
                                <ul>
                                    <p>Retorno animal</p>
                                    <%for(var chave in animalret){ %>
                                        <li>id = <%= animalret[chave].id %> - <%= animalret[chave].animal %> - total = <%= animalret[chave].total %> </li>
                                    <% } %>    
                                </ul>
                                <ul>
                                    <p>Retorno Cor</p>
                                    <%for(var chave in corret){ %>
                                        <li>id = <%= corret[chave].id %> - <%= corret[chave].cor %> - total = <%= corret[chave].total %> </li>
                                    <% } %>    
                                </ul>
                                <ul>
                                    <p>Retorno Cor excluida</p>
                                    <%for(var chave in corexcluidaret){ %>
                                        <li>id = <%= corexcluidaret[chave].id %> - <%= corexcluidaret[chave].cor %> - total = <%= corexcluidaret[chave].total %> </li>
                                    <% } %>    
                                </ul>
                                <ul>
                                    <p>Retorno pais</p>
                                    <%for(var chave in paisret){ %>
                                        <li>id = <%= paisret[chave].id %> - <%= paisret[chave].pais %> - total = <%= paisret[chave].total %> </li>
                                    <% } %>    
                                </ul>
                        </div>
                    </div>
                </div>    
            </div>
		</div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>

</html>